@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

:root {
  --header-height: 3rem;
  --nav-width: 324px;

  /*====== Font Weight =======*/
  --font-medium: 500;
  --font-semi-bold: 600;
  --font-bold: 700;

  /*====== Colors ======*/
  --first-color: #3d26d4;
  --first-color-dark: #221574;
  --first-color-darken: #100b36;
  --text-color: #42645f;
  --first-color-light: #dad9e0;
  --first-color-lighten: #f5f4fa;

  /*====== Font and typography =======*/
  --body-font: 'Poppins', sans-serif;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: 0.938rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /* ====== Margins  =======*/
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;

  --z-fixed: 100;
}
@media screen and (min-width: 768px) {
  :root {
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

*,
::before,
::after {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  background-color: var(--first-color-lighten);
  color: var(--text-color);
  line-height: 1.6;
}

h1,
h2,
h3,
p {
  margin: 0;
}

h3 {
  font-weight: var(--font-semi-bold);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}
